*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    font-size: 1.5rem;
    line-height: 2;
    text-align: start;
}
img:hover{
    scale: 1.3;
    transition: 2s;
    }
    .animate-slide-in {
        animation: slide-in 2s ease-in;
        /* Modify this to adjust animation duration and timing */
        transform: translateX(-100); /* Start offscreen to the left */
      }
      
      @keyframes slide-in {
        from {
          transform: translateX(-200%);
          scale: 2;
        }
        to {
          transform: translateX(0);
        }
      }
    